<div class="container">
  <div class="row">
    <h1 class="display-4">Book Maintenance</h1>
    
    <div class="col-md-12 col-sm-12 col-lg-12" *ngIf="bookData && bookData.length > 0">
      <h1 class="display-5">Listing Books: Total count= <span class="badge badge-primary">{{bookData.length}}</span></h1>
      
        <div class="container">      
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Book ID</th>
                  <th>Title</th>
                  <th>Price</th>
                  <th>Volume</th>
                  <th>Publish Date</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of bookData"> 
                  <td>{{ user.bookId}}</td>
                  <td>{{ user.title }}</td>
                  <td>{{ user.price }}</td>
                  <td>{{ user.volume }}</td>
                  <td>{{ user.publishDate }}</td>
                  <td><a routerLink='/user/{{ user.bookId }}'> Edit</a></td>
                  <td><button type="button" class="btn btn-primary" (click)="deleteUser(user.bookId)">Delete Book</button></td>
                </tr>               
              </tbody>
            </table>
          </div>
       
    </div>
  </div>
</div>